#
# {{ ansible_managed }}
#
# Rotates the {{ django_app }} log files
# Log retention policy is 1 month readily available and 1 year archived.
#

{{ django_app_path }}/logs/*.log {
# rotate weekly and keep 53 weeks (just over a year) worth of logs
    weekly
    rotate 53

# compress the rotated log files, on the next run (not when rotated)
    compress
    delaycompress

# rotated files should have a date extension added
    dateext

# do not rotate empty or missing log files
    notifempty
    missingok

# rotate files into an archive directory
    olddir archive

# create new log files owned by www-data:admin
    create 0660 {{ apache_user }} admin

# run the pre and post rotation scripts against all the matched files at once
    sharedscripts
    ### TODO: change this to work with uWSGI
    postrotate
        touch {{ django_app_path }}/wsgi.py
    endscript
}

