# Installation-specific and security-related Django settings for {{ django_app|title }}


# Used to make complete urls where needed
ABSOLUTE_BASE_URL = 'https://{{ django_hostname }}.{{ django_domain }}'


DATABASES = {
    'default': {
        'ENGINE': '{{ django_db_engine }}',
        'NAME': '{{ django_db_name }}',
        'USER': '{{ django_db_user }}',
        'PASSWORD': '{{ django_db_password }}',
        'HOST': '{{ django_db_host }}',
        'PORT': '{{ django_db_port }}',
{% if 'mysql' in django_db_engine %}
        'OPTIONS': {
            'charset': u'utf8mb4',
        },
{% endif %}
    },
}

