#
# {{ ansible_managed }}
#
# uWSGI application configuration for {{ django_app|title }}
#

[uwsgi]
project = {{ django_app }}
base = {{ django_virtualenv_path }}

# Django app base directory
chdir = {{ django_app_path }}

# Virtualenv
home = %(base)

# Django's wsgi file
module = wsgi:application

master = true
processes = {{ django_uwsgi_processes|default('4') }}
{% if django_request_timeout %}harakiri = {{ django_request_timeout }}{% endif %}

socket = {{ uwsgi_socket_path|default('/tmp') }}/%(project).sock
{% if django_request_timeout %}socket-timeout = {{ django_request_timeout }}{% endif %}
# chmod-socket = 666
vacuum = true

# The default 4096 buffer size appears to be too small for Django apps
buffer-size = {{ django_uwsgi_buffer_size|default('8192') }}

# specify the Python plugin
plugin = python3

