#
# {{ ansible_managed }}
#
# uWSGI application configuration for {{ django_app|title }}
#

[uwsgi]
project = {{ django_app }}
base = {{ django_virtualenv_path }}

# Django app base directory
chdir = {{ django_app_path }}

# Virtualenv
home = %(base)

# Django's wsgi file
module = wsgi:application

master = true
processes = {{ django_uwsgi_processes|default('10') }}

socket = {{ uwsgi_socket_path|default('/tmp') }}/%(project).sock
# chmod-socket = 666
vacuum = true

# The default 4096 buffer size appears to be too small for Django apps
buffer-size = 8192

# specify the Python plugin
plugin = {% if uwsgi_use_python3|default('yes')|bool %}python3{% else %}python{% endif %}

