#
# {{ ansible_managed }}
#
# Apache configuration directives necessary for {{ django_app|title }}
#
# These directives are intended to be included into a larger Apache virtual
# host configuration file for the server hosting the application.
#


###
# application-specific configuration
###
    # Static hosted files
    Alias {{ django_url }}/static/ {{ django_app_path }}/static/
    <Directory {{ django_app_path }}/static>
        Require all granted
    </Directory>

    # Media files (uploaded by users)
    Alias {{ django_url }}/media/ {{ django_app_path }}/media/
    <Directory {{ django_app_path }}/media>
        Require all granted
    </Directory>


    # Indicate which environment the system is functioning in
    SetEnv {{ django_app|upper }}_ENVIRONMENT {{ django_environment }}

    # WSGI hosting for Django application via uWSGI
    <IfModule mod_proxy.c>
        ProxyRequests Off
        <Proxy *>
            AddDefaultCharset off
            Require all granted
        </Proxy>
        ProxyVia On
    </IfModule>

    RewriteRule ^{{ django_url }}$    {{ django_url }}/    [R=permanent,NC,L]

    ProxyPass {{ django_url }}/static !
    ProxyPass {{ django_url }}/media !
    ProxyPass {{ django_url }} unix:/tmp/{{ django_app }}.sock|uwsgi://uwsgi-uds-{{ django_app }}/

