#
# {{ ansible_managed }}
#
# Apache configuration directives necessary for {{ django_app|title }}
#
# These directives are intended to be included into a larger Apache virtual
# host configuration file for the server hosting the application.
#


###
# application-specific configuration
###
    # Static hosted files
    Alias {{ django_url }}/static/ {{ django_app_path }}/static/
    <Directory {{ django_app_path }}/static>
        Require all granted
        <IfModule mod_expires.c>
            ExpiresActive on
            ExpiresDefault "access plus 1 year"
            <IfModule mod_headers.c>
                Header append Cache-Control private
            </IfModule>
        </IfModule>
    </Directory>

    # Media files (uploaded by users)
    Alias {{ django_url }}/media/ {{ django_app_path }}/media/
    <Directory {{ django_app_path }}/media>
        Require all granted
    </Directory>

{% if django_disable_modauthopenidc|default('no') %}
    # Disable mod_auth_openidc for the entire app
    <Location {{ django_url }}>
        AuthType none
        Require all granted
    </Location>
{% endif %}

{% if django_external_submissions %}
    # Disable authentication for form submissions
{% for item in django_external_submissions %}
    <Location {{ item.url }}>
{% if apache_use_cosign|default('no')|bool %}
        SetHandler none
{% endif %}
{% if apache_use_azuresso|default('no')|bool %}
        AuthType none
{% endif %}
        Require ip {{ item.ip }}
    </Location>
{% endfor %}
{% endif %}

{% if django_api_access is defined %}
    # API access
    #   - Disable authentication
{% if django_api_access.ips is defined %}
    #   - Restrict access to only the specified IPs
{% endif %}
    <LocationMatch "^{{ django_api_access.url }}/(.*)$">
{% if apache_use_cosign|default('no')|bool %}
        SetHandler none
{% endif %}
{% if apache_use_azuresso|default('no')|bool %}
        AuthType none
{% endif %}
{% if django_api_access.ips is defined %}
{% for item in django_api_access.ips|flatten %}
        Require ip {{ item }}
{% endfor %}
{% else %}
        Require all granted
{% endif %}
    </LocationMatch>
{% endif %}

{% if django_url_restrictions is defined %}
    # Restrict access to specific urls
    #   - Disable authentication (optional)
    #   - Restrict access to only the specified IPs (optional)
{% if django_url_restrictions.url is defined %}
    <Location {{ django_url_restrictions.url }}>
{% elif django_url_restrictions.url_pattern is defined %}
    <LocationMatch "{{ django_url_restrictions.url_pattern }}">
{% endif %}
{% if django_url_restrictions.disable_auth|default('no')|bool and apache_use_cosign|default('no')|bool %}
        SetHandler none
{% endif %}
{% if django_url_restrictions.disable_auth|default('no')|bool and apache_use_azuresso|default('no')|bool %}
        AuthType none
{% endif %}
{%  if django_url_restrictions.ips is defined %}
{% for item in django_url_restrictions.ips|flatten %}
        Require ip {{ item }}
{% endfor %}
{% endif %}
{% if django_url_restrictions.url is defined %}
    </Location>
{% elif django_url_restrictions.url_pattern is defined %}
    </LocationMatch>
{% endif %}
{% endif %}

    # Indicate which environment the system is functioning in
    SetEnv {{ django_app|upper }}_ENVIRONMENT {{ django_environment }}


{% if apache_use_uwsgi|bool %}
    # WSGI hosting for Django application via uWSGI
    <IfModule mod_proxy.c>
        ProxyRequests Off
        <Proxy *>
            AddDefaultCharset off
            Require all granted
        </Proxy>
        ProxyVia On
    </IfModule>

    RewriteRule ^{{ django_url }}$    {{ django_url }}/    [R=permanent,NC,L]

    ProxyPass {{ django_url }}/static !
    ProxyPass {{ django_url }}/media !
    ProxyPass {{ django_url }} unix:{{ uwsgi_socket_path|default('/tmp') }}/{{ django_app }}.sock|uwsgi://uwsgi-uds-{{ django_app }}
{% endif %}


{% if apache_use_wsgi|bool %}
    # WSGI hosting for Django application
    WSGIDaemonProcess {{ django_app }} user={{ apache_user }} group={{ apache_group }} threads=5 python-path="{{ django_app_path }}:{{ django_virtualenv_path }}/lib/python2.7/site-packages"
    WSGIScriptAlias {{ django_url }} {{ django_app_path }}/wsgi.py{{ django_url }}
    <Directory {{ django_app_path }}>
        WSGIProcessGroup {{ django_app }}
        WSGIApplicationGroup %{GLOBAL}
        WSGIPassAuthorization on

        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>
{% endif %}

