#
# {{ ansible_managed }}
#
# Apache configuration directives necessary for {{ django_app|title }}
#
# These directives are intended to be included into a larger Apache virtual
# host configuration file for the server hosting the application.
#


###
# application-specific configuration
###
{% if django_block_admin_login|default('no')|bool %}
    # Block access to the admin login page
    RewriteRule ^{{ django_url }}/admin/login(.*)$   -    [F,NC,L]
{% endif %}

    # Static hosted files
    Alias {{ django_url }}/static/ {{ django_app_path }}/static/
    <Directory {{ django_app_path }}/static>
        Require all granted
        <IfModule mod_expires.c>
            ExpiresActive on
            ExpiresDefault "access plus 1 year"
            <IfModule mod_headers.c>
                Header append Cache-Control private
            </IfModule>
        </IfModule>
    </Directory>

    # Media files (uploaded by users)
    Alias {{ django_url }}/media/ {{ django_app_path }}/media/
    <Directory {{ django_app_path }}/media>
        Require all granted
    </Directory>

{% if apache_use_azuresso|default('no')|bool and django_disable_modauthopenidc|default('no') %}
    # Disable mod_auth_openidc for the entire app
    <Location {{ django_url|default('/') }}>
        AuthType none
{% if django_hostname == "" %}
        Require expr %{HTTP_HOST} == "{{ django_domain }}"
{% else %}
        Require expr %{HTTP_HOST} == "{{ django_hostname }}.{{ django_domain }}"
{% endif %}
    </Location>
{% endif %}

{% if django_external_submissions %}
    # Disable authentication for form submissions
{% for item in django_external_submissions %}
    <Location {{ item.url }}>
{% if apache_use_cosign|default('no')|bool %}
        SetHandler none
{% endif %}
{% if apache_use_azuresso|default('no')|bool %}
        AuthType none
{% endif %}
        <RequireAll>
            Require ip {{ item.ip }}
{% if django_hostname == "" %}
            Require expr %{HTTP_HOST} == "{{ django_domain }}"
{% else %}
            Require expr %{HTTP_HOST} == "{{ django_hostname }}.{{ django_domain }}"
{% endif %}
        </RequireAll>
    </Location>
{% endfor %}
{% endif %}

{% if django_api_access|default({}) %}
    # API access
    #   - Disable authentication
{% if django_api_access.ips|default([]) %}
    #   - Restrict access to only the specified IPs
{% endif %}
    <LocationMatch "^{{ django_api_access.url }}/(.*)$">
{% if apache_use_cosign|default('no')|bool %}
        SetHandler none
{% endif %}
{% if apache_use_azuresso|default('no')|bool %}
        AuthType none
{% endif %}
        <RequireAll>
{% if django_hostname == "" %}
            Require expr %{HTTP_HOST} == "{{ django_domain }}"
{% else %}
            Require expr %{HTTP_HOST} == "{{ django_hostname }}.{{ django_domain }}"
{% endif %}
{% if django_api_access.ips|default([]) %}
            <RequireAny>
{% for item in django_api_access.ips|flatten %}
                Require ip {{ item }}
{% endfor %}
            </RequireAny>
{% endif %}
{% if apache_use_cosign|default('no')|bool or apache_use_azuresso|default('no')|bool %}
            Require valid-user
{% endif %}
        </RequireAll>
    </LocationMatch>
{% endif %}

{% if django_url_restrictions|default({}) %}
    # Restrict access to specific urls
    #   - Disable authentication (optional)
    #   - Restrict access to only the specified IPs (optional)
{% for item in django_url_restrictions %}
{% if item.url|default('') %}
    <Location {{ item.url }}>
{% elif item.url_pattern|default('') %}
    <LocationMatch "{{ item.url_pattern }}">
{% endif %}
{% if item.disable_auth|default('no')|bool and apache_use_cosign|default('no')|bool %}
        SetHandler none
{% endif %}
{% if item.disable_auth|default('no')|bool and apache_use_azuresso|default('no')|bool %}
        AuthType none
{% endif %}
        <RequireAll>
{% if django_hostname == "" %}
            Require expr %{HTTP_HOST} == "{{ django_domain }}"
{% else %}
            Require expr %{HTTP_HOST} == "{{ django_hostname }}.{{ django_domain }}"
{% endif %}
{% if item.ips|default([]) %}
            <RequireAny>
{% for item in item.ips|flatten %}
                Require ip {{ item }}
{% endfor %}
            </RequireAny>
{% endif %}
        </RequireAll>
{% if item.url|default('') %}
    </Location>
{% elif item.url_pattern|default('') %}
    </LocationMatch>
{% endif %}
{% endfor %}
{% endif %}

    # Indicate which environment the system is functioning in
    SetEnv {{ django_app|upper }}_ENVIRONMENT {{ django_environment }}


{% if apache_use_uwsgi|bool %}
    # WSGI hosting for Django application via uWSGI
    <IfModule mod_proxy.c>
        ProxyRequests Off
        <Proxy *>
            AddDefaultCharset off
            Require all granted
        </Proxy>
        ProxyVia On
{% if django_request_timeout %}        ProxyTimeout {{ django_request_timeout }}{% endif %}
    </IfModule>

    RewriteRule ^{{ django_url }}$    {{ django_url }}/    [R=permanent,NC,L]

    ProxyPass {{ django_url }}/static !
    ProxyPass {{ django_url }}/media !
    ProxyPass {% if not django_url %}/{% else %}{{ django_url }}{% endif %} unix:{{ uwsgi_socket_path|default('/tmp') }}/{{ django_app }}.sock|uwsgi://uwsgi-uds-{{ django_app }}{% if not django_url %}/{% endif %}
{% endif %}


{% if apache_use_wsgi|bool %}
    # WSGI hosting for Django application
    WSGIDaemonProcess {{ django_app }} user={{ apache_user }} group={{ apache_group }} threads=5 python-path="{{ django_app_path }}:{{ django_virtualenv_path }}/lib/python3.8/site-packages"
    WSGIScriptAlias {{ django_url }} {{ django_app_path }}/wsgi.py{{ django_url }}
    <Directory {{ django_app_path }}>
        WSGIProcessGroup {{ django_app }}
        WSGIApplicationGroup %{GLOBAL}
        WSGIPassAuthorization on

        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>
{% endif %}

